

.wrapper {
    border: 1px solid rgb(120, 120, 120);
    margin: 10px;
}

.wrapper > div:nth-child(even) {
    background: rgb(207, 194, 194);
}
.actions > button {
    font-size: 17px;
    margin: 4px;
    color: rgb(3, 16, 3);
    background-color: rgba(177, 46, 160, 0.233);
    border-radius: 5px; 
}